<div class="carousel">
    <a class="carousel-item" href="#one!"><%= image_tag 'carousel1.jpg' %></a>
    <a class="carousel-item" href="#two!"><%= image_tag 'carousel2.jpg' %></a>
    <a class="carousel-item" href="#three!"><%= image_tag 'carousel3.jpg' %></a>
    <a class="carousel-item" href="#four!"><%= image_tag 'carousel4.jpg' %></a>
    <a class="carousel-item" href="#five!"><%= image_tag 'carousel5.jpg' %></a>
</div>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %> 
